node-red-data2/flows.json
[
    {
        "id": "2c04b82b54e7c438",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c8919554f74222b",
        "type": "inject",
        "z": "2c04b82b54e7c438",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e628d7a5e0c2bfec",
        "type": "debug",
        "z": "2c04b82b54e7c438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "eec4871d3a810faa",
        "type": "inject",
        "z": "2c04b82b54e7c438",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "e94bc7ed37d43c2f"
            ]
        ]
    },
    {
        "id": "e94bc7ed37d43c2f",
        "type": "function",
        "z": "2c04b82b54e7c438",
        "name": "function 1",
        "func": "msg.payload = {a:\"ddd\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "e628d7a5e0c2bfec"
            ]
        ]
    }
]